@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'VT323', monospace !important;
  font-size: 20px !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
